<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

    <!-- Força tema claro no app inteiro -->
    <key>UIUserInterfaceStyle</key>
    <string>Light</string>

    <!-- URL Schemes (ex: Cognito redirect) -->
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>com.exemplo.coworking</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>coworking</string>
            </array>
        </dict>
    </array>

</dict>
</plist>
